<footer id="page-footer">
  <p>
    Copyright &copy; 2019
    <%= link_to 'Google', 'http://google.com' %>
  </p>
  <p>
    All Honda information sourced from Google searches completed by Megan, Kayla, and Nicole.
  </p>
</footer>
