<!DOCTYPE html>
<html>
  <head>
    <title>Mr. Hodges' Hondas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Mr. Hodges' Hondas <span class="header-span">GOING OUT OF BUSINESS SALE!!!</span></h1>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
